body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #333333;
}

.navBar {
    height: 50px;
    width: 100%;
    background-color: #333333;
    overflow: auto;
    position: fixed;
    top: 0;
}

.navBar a {
    float: left;
    color: #edede6;
    text-decoration: none;
    font-size: 19px;
    width: 25%;
    text-align: center;
    padding: 12px 0px;
}

.navBar a:hover {
    color: #ff3650;
    transition: .6s;
}

.containerTop {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
}

.containerBottom {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 50px 50px 50px 50px #333;
}

.hero {
    border-radius: 5%;
    height: 85%;
    width: 450px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.gridLeft1 {
    background-color: #ff3650;
    color: #edede6;
    height: 600px;
}

.mainText {
    background: #ff3650;
    text-align: center;
}

.popOut {
    margin-left: 15%;
    margin-right: 15%;
    padding: 5% 5%;
    background-color: #edede6;
    box-shadow: 0px 50px 50px 10px #333;;
}

.popOut p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #edede6;
}

.gridRight1 h1 {
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 33%;
    font-size: 50px;
}

hr.hr {
    border: 3px solid #edede6;
    border-radius: 10px;
}

.heroName {
    color: #edede6;
}

.gridRight1 {
    background-color: #ff3650;
    color: #333333;
    height: 600px;
}

.gridLeft2 {
    background-image: url("images/sheetbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #edede6;
    height: 600px;
}

.gridRight2 {
    background-color: #edede6;
    color: #333333;
    height: 600px;
}

.imageGrid {
    width: 100%;
    background-color: #1a222e;
    color: #edede6;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.imgCaption {
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 3%;
    border: #edede6 solid 3px;
    border-radius: 3%;
}

figcaption {
    font-size: 20pt;
}

table {
    margin: auto auto;
    padding-top: 100px;
}

.tableTitle {
    font-weight: bold;
}

th {
    color: #edede6;
    font-size: 20pt;
    border: #edede6 1px solid;
    padding: 20px 20px;
    background-color: #333333;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #333333;
    overflow: hidden;
}

.footer a {
    float: left;
    color: #edede6;
    text-decoration: none;
    font-size: 19px;
    width: 33.333333%;
    text-align: center;
    padding: 12px 0px;
}

.footer a:hover {
    background-color: #1a222e;
    transition: .8s;
}

@media (max-width: 768px) {
    .containerTop {
        display: flex;
        flex-direction: column;
    }

    .hero {
        width: 80%;
    }

    .gridLeft1 {
        padding: 5% 5%;
    }

    .gridRight1 {
        padding: 0% 0%;
        height: 400px
    }

    #Bio {
        margin: 0% 0%;
        padding: 0% 0%;
    }

    .mainText {
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .popOut {
        padding: 5% 0px;
        margin: 0px 0px;
    }

    .containerBottom {
        display: flex;
        flex-direction: column;
    }

    .imageGrid {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}