body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #333333;
}

.navBar {
    height: 50px;
    width: 100%;
    background-color: #333333;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.navBar a {
    float: left;
    color: #edede6;
    text-decoration: none;
    font-size: 19px;
    width: 25%;
    text-align: center;
    padding: 12px 0px;
    z-index: 9;
}

.navBar a:hover {
    background-color: #545454;
    transition: .8s;
}

.containerTop {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
}

.containerBottom {
    display: grid;
    grid-template-columns: 50% 50%;
    -webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px 10px rgba(0,0,0,0.75);
    position: relative;
    z-index: 10;
}

.hero {
    border-radius: 5%;
    height: 85%;
    width: 450px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: static;
    box-shadow: 0px 20px 60px 0px rgba(0,0,0,0.75);
}

.gridLeft1 {
    background-color: #ff4040;
    color: #edede6;
    height: 600px;
    padding-left: 20%;
}

.mainText {
    background: #ff4040;
    text-align: center;
}

.popOut {
    margin-left: 15%;
    margin-right: 15%;
    padding: 3% 5%;
    background-color: #edede6;
    box-shadow:  0px 20px 16px 10px rgba(0,0,0,0.75);
}

.popOut p {
    text-align: justify;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #edede6;
}

.popOut h2 {
    font-size: 2rem;
    color: #333;
}

.gridRight1 h1 {
    margin: 200px auto;
    font-size: 50px;
}

h1#Bio {
    border-top: 4px solid #edede6;
    border-bottom: 4px solid #edede6;
}

.heroName {
    color: #edede6;
}

.gridRight1 {
    background-color: #ff4040;
    color: #333333;
    height: 600px;
    padding-right: 30%;
}

.gridLeft2 {
    background-image: url("images/sheetbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #edede6;
    height: 600px;
}

.gridRight2 {
    background-color: #edede6;
    color: #333333;
    height: 600px;
}

.imageGrid {
    width: 100%;
    background-color: #ff4040;
    color: #edede6;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
    z-index: 0;
}

.imgCaption {
    width: 100%;
    height: 285px;
    object-fit: cover;
    border-radius: 3%;
    border: #edede6 solid 3px;
    border-radius: 3%;
    box-shadow: 0px 15px 40px 0px rgba(0,0,0,0.75);
}

figcaption {
    font-size: 20pt;
}

table {
    margin: auto auto;
    padding-top: 100px;
}

.tableTitle {
    font-weight: bold;
}

th {
    color: #edede6;
    font-size: 20pt;
    border: #edede6 1px solid;
    padding: 20px 20px;
    background-color: rgba(51, 51, 51, .85);
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #333333;
    overflow: hidden;
}

.footer a {
    float: left;
    color: #edede6;
    text-decoration: none;
    font-size: 19px;
    width: 33.333333%;
    text-align: center;
    padding: 12px 0px;
}

.footer a:hover {
    background-color: #545454;
    transition: .8s;
}

@media (max-width: 768px) {
    .containerTop {
        display: flex;
        flex-direction: column;
    }

    .hero {
        width: 80%;
    }

    .gridLeft1 {
        padding: 10% 5%;
    }

    .gridRight1 {
        margin: auto auto;
        padding: 5% 0%;
        height: 400px
    }

    #Bio {
        margin: 0% 0%;
        padding: 0% 0%;
        border-top: 4px solid #edede6;
        border-bottom: 4px solid #edede6;
    }

    .mainText {
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .popOut {
        padding: 5% 0px;
        margin: 0px 0px;
    }

    .containerBottom {
        display: flex;
        flex-direction: column;
    }

    .imageGrid {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}
@media (max-width: 1400px) {
    .containerTop {
        display: flex;
        flex-direction: column;
    }

    .gridRight1 {
        height: auto;
        padding-right: 0;
    }

    .gridRight1 h1 {
        margin: 10%;
        text-align: center;
    }

    .gridLeft1 {
        padding-left: 0;
        padding-bottom: 5%;
    }
}

@media (max-width: 576px) {
    figcaption {
        font-size: 1.2em;
    }

    .gridLeft1 {
        padding: 5%;
    }

}

@media (max-width: 414px) {
    .navBar {
        height: fit-content;
    }
    
    .navBar a {
        font-size: 14px;
        margin: auto auto;
    }

    .hero {
        box-shadow: none;
    }

    figcaption {
        font-size: 1em;
    }

    .gridLeft1 {
        height: auto;
        padding-bottom: 5%;
    }

    .gridRight1 {
        height: auto;
    }

    .gridRight1 h1 {
        font-size: 2em;
    }

    .gridLeft2 {
        height: 100%;
    }

    table {
        padding: 10px 10px;
    }

    .gridLeft2 th {
        font-size: 1.5em;
        padding: 10px 10px;
    }

    .gridRight2 {
        height: auto;
        padding: 5% 5%;
    }

    img.hero {
        padding: 0px 0px;
        margin: 0px 0px;
        width: 100%;
    }

    .popOut p {
        font-size: 1em;
        margin: 0 5%;
    }
}

@media (max-width: 1350px) {
    figcaption {
        font-size: 1.4em;
    }
}

@media (max-width: 1050px) {
    figcaption {
        font-size: 1em;
    }

    .imageGrid {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

